.jumbotron {
  position: fixed;
  background: #000 url("images/pencils.jpg") left center;
  width: 100%;
  background-size: cover;
  color: #fff;
}

.btn{
  background-color: #fff;
  color: navy;
}

.btn:hover{
  box-shadow: inset 0 0 0.2rem 0.2rem lightgray;
}
